<p>You need to generate the page transition data first.</p>

Please run the system tests with envvar <strong>ROUNDABOUT</strong>.

<pre>
test-unit / minitest:
% ROUNDABOUT=1 rails test:system

RSpec
% ROUNDABOUT=1 rails test:system
</pre>

Then reload this page.
