<p>You need to generate the page transition data first.</p>

Add this line to your <strong>spec/spec_helper.rb</strong>:

<pre>
require 'roundabout/rspec'
</pre>

And run the specs.

<pre>
% rake spec
</pre>

Then reload this page.
