<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Transition Diagram</title>
  <%= stylesheet_link_tag    'roundabout/application', :media => 'all' %>
  <%= javascript_include_tag 'roundabout/application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
